*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: sans-serif;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;

}
.display{
    grid-column: span 4;
    height: 10vh;
    border-radius: 1em;
    margin: .5em;
    width: 11em;
    font-size: 38px;
    padding-right: .7em;
    text-align-last:right;
    box-shadow: inset 3px 3px 10px rgb(0,0,0,.26),
    4px 4px 10px rgb(0,0,0,.26);
    border-style: none;
    font-weight: bolder; 

}
.calculator{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4,7em);
    box-shadow: inset 2px 0px 5px rgb(0,0,0,.26),
                      5px 5px 12px rgb(0,0,0,.26);
    
    padding: 1.5em; 
    border-radius: 5em; 
    margin-bottom: 3em; 
                     

}
.button, .button2, .button3{
    border-radius: 50%;
    margin: 15px;
    height:3em;
    border-style: none;
    box-shadow: inset 4px 4px 10px rgb(0,0,0,.26),
                      4px 4px 10px rgb(0,0,0,.26);   
    font-size: 1em;
    font-weight: bolder;                                     
    
}
.button1{
    grid-column: span 2;
    border-radius: 45%;
    height:4.6em;
    margin: 10px;
    border: none;
    box-shadow: inset 4px 4px 10px rgb(0,0,0,.26),
                      4px 4px 10px rgb(0,0,0,.26);
    font-weight: bold; 
    font-size: 1em;
    
}